*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.headbanner{
    width: 100%;
    height: 18rem;
    background-color: rgb(162, 63, 63);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headbanner .hbone{
margin-bottom: 2rem;
font-size: 3.5rem;
}
.headbanner .hbtwo{
    line-height: 1.7rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
.showpricing{
    width: 100%;
    height: 50rem;
    background-color: white;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricingbutton{
    width: 25rem;
    height: 3rem;
    background-color: rgba(38, 55, 114);
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}
.pricingbox{
    display: flex;
    gap: 5rem;
}
.pricingbutton button{
    width: 11.5rem;
    height: 2.1rem;
    border: none;
    font-size: 1.2rem;
}
.pricebuttonnotselect{
    background-color: transparent;
    color: white;
}
.pricebuttonselect{
    background-color: white;
    color:rgba(38, 55, 114);
    border-radius: 1.5rem;
}
.freepricebox{
    width: 19rem;
    height: 35rem;
  background-color: rgb(242, 241, 241);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    border: none;
    box-sizing: border-box;
    padding: 1.5rem;
}
.freepriceupper{
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(38, 55, 114);
}
.freepriceupper .fpuone{
    font-size: 2.2rem;
    margin: 1rem;
}
.freepriceupper .fputwo{
    font-size: 3rem;
    margin: 1rem;
}
.freepriceupper .fputhree{
 font-size: 0.9rem;
 margin-bottom: 2rem;
}
.freepriceupper button{
    width: 100%;
    height: 2rem;
    border: none;
    background-color: rgb(38, 55, 114);
    color: white;
    font-size: 1rem;
    letter-spacing: 0.1rem;
}
.freepriceupper button:hover{
    background-color: rgb(15, 35, 107);
}
.line{
    width: 100%;
    color: grey;
    margin-bottom: 1.5rem;
}
.freepricelower{
    color: rgb(48, 52, 66);
    font-size: 0.9rem;
    word-spacing: 0.2rem;
}
.freepricelower .fplone{
    margin-bottom: 1rem;
}
.freepricelower p{
    line-height: 1.2rem;
}
.freepricelower h4{
    margin-bottom: 0.3rem;
}
.amountpricebox{
    background-color: rgb(233, 229, 229);
}
.casewonderingbox{
    width: 100%;
    height: 20rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.casewondering{
    width: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.casewondering p{
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.casewondering .cwone{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: rgb(38, 55, 114);
}
.casewondering p{
    margin-bottom: 1rem;
}